.article_summary {
  display: flex;
  justify-content: space-between;
  img {
    max-width: 5rem;
  }
}
.respond {
  display: flex;
}
.comment {
  display: flex;
  margin-left: 3rem;
}
.button_collect {
  display: flex;
  margin-left: 3rem;
}