.header-container{
    display: flex;
    justify-content: space-between;
     align-items: center;
}
.logo{
    border: 5px solid brown;
}
.header-content-right{
    display: flex;
    align-items: center;
}
.header-content-right div {
  margin-right: 20px;
}
.search{
    border: 5px solid brown;
}
.notify{
    border: 5px solid brown;
}
.member{
    border: 5px solid brown;
}