.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  display: flex;
}
/* .qr_code {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.ant-layout .main_picture {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input_form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input_form > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}
